*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-lighting {
  background-color: #ffffff;
}
.bg-light-body {
  background: linear-gradient(
    rgba(211, 224, 255, 1) 100%,
    rgba(247, 250, 255, 1) 100%
  );
}
.bg-dark-th {
  background-color: #6271c5 !important;
}
.bg-dark-body {
  background: linear-gradient(rgba(19, 27, 75, 1), rgba(43, 54, 116, 1));
}
.bg-dark-border {
  border: 1px solid #6271c5 !important;
}
.bg-dark-light {
  background-color: #404e9a !important;
}
.bg-dark-sidebar {
  background-color: #253071 !important;
}
.s + .breadcrumb-item::before {
  color: #ffffff !important;
}
.bg-dar-card {
  background-color: #414fa1 !important;
}
.lnk,
.dark {
  width: 100%;
  padding-top: 3px !important;
  font-size: 18px !important;
}
.side {
  color: #a3aed0;
  margin-top: 12px;
  font-weight: 700;
  margin-left: 27px;
  letter-spacing: -2%;
  line-height: 23.44px;
}
.sidebar {
  background-color: #ffffff;
  max-width: 290px;
  z-index: 1;
  height: auto;
  transition: max-width 0.3s ease; /* Add transition for smooth animation */
}
.logos {
  display: inline-block;
}
.links {
  display: block;
}
.hamburger-btn {
  display: none; /* Initially hide the hamburger button */
}
.lnk,
.dark {
  width: 100%;
  padding-top: 3px !important;
  font-size: 18px !important;
}
.chart {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 30px 20px;
}
.side {
  margin-top: 12px;
  font-weight: 700;
  margin-left: 27px;
  letter-spacing: -2%;
  line-height: 23.44px;
}

.lnk.active,
.lnk:hover {
  border-right: 4px solid #0183c6 !important;
  background-color: rgba(230, 243, 250, 1) !important;
  color: #333;
}

.lnk.active .side,
.lnk:hover .side {
  color: #333;
}

.lnk.active .icon,
.lnk:hover .icon {
  color: #0183c6;
}

.dark.active,
.dark:hover {
  background-color: #404e9a !important;
  border-right: 4px solid #ffffff !important;
  color: #ffffff;
}

.dark.active .side,
.dark:hover .side {
  color: #ffffff;
}

.dark.active .icon,
.dark:hover .icon {
  color: #ffffff;
}
thead {
  .table-tr {
    th {
      color: #7a86a8;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -2%;
      line-height: 24px;
      background-color: #a3aed00f;
    }
  }
}

.number {
  font-size: 18px;
  font-weight: 700;
  color: #2b3674;
  letter-spacing: -2%;
}
.nav-item {
  --bs-nav-pills-link-active-bg: #0183c6 !important;
  a {
    color: #7a85a8;
    font-size: 12px;
  }
}

.nav-link.active {
  color: #fff;
}
.card-images {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mid-circle {
  background-color: #42bcfb;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.titles {
  font-size: 12px;
  color: #a3aed0;
  font-weight: 700;

  h5 {
    font-size: 12px;
  }
}
.tbody {
  tr {
    th,
    td {
      font-size: 14px;
      color: #2b3674;
      font-weight: 700;
      background-color: transparent;
      border: none;
    }
  }
}
.doughnut {
  position: absolute;
  top: 36%;
  left: 16%;
  span {
    position: relative;
    background-color: #05cd991a;
    padding: 4px;
    top: 5px;
    font-size: 12px;
    color: #05cd99;
  }
}
.react-datepicker-wrapper {
  border-radius: 8px !important;
}
.prog {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 24px;
  margin-bottom: 0px;

  p {
    width: 100%;
    font-size: 14px;
  }
}
#mob {
  display: none !important;
}
.tw {
  width: 32.5% !important;
  height: auto !important;
}
.tv {
  width: 480px !important;
  height: auto !important;
}
.react-datepicker-popper {
  z-index: 9999 !important;
}
@media (max-width: 1400px) {
  .doughnut {
    left: 9%;
  }
  .tw {
    width: 100% !important;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    max-width: none; /* Set max-width to none for screens narrower than 1000px */
  }
  .ts .table-tr {
    display: flex;
    flex-wrap: wrap;
  }
  .ts tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .chart {
    width: 200px;
    margin: 30px 20px;
  }
  .tw {
    width: 100% !important;
  }
  .tv {
    width: 100% !important;
  }
  .sidebar .links {
    margin-top: 20px;
  }
  .logos {
    margin-left: 48px;
  }
  #comp {
    display: none !important;
  }
  #mob {
    display: flex !important;
  }
  .hamburger-btn {
    display: block; /* Show the hamburger button on small screens */
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 9999;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
