.hgh {
  height: 100vh;
}
.tabing .card {
  margin-top: 20px;
}
.tabing,
.tbl {
  margin: 24px 20px;
  height: auto;
}

.ls .table {
  height: 300px !important;
}
@media (max-width: 1500px) {
  .hgh {
    height: auto;
  }
}
